* {
    box-sizing: border-box;
    font-family: monospace;
    border-radius: 5px;
}

body {
    line-height: 1.6;
    margin: 0;
}

a {
    text-decoration: none;
}

#profile-picture {
    padding: 0px 10px;
    height: 4em;
    margin: auto 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

section {
    position: center;
    background-color: lightgrey;
    text-align: center;
    width: fit-content;
    padding: .6vh 3vw;
    margin: 5vh auto auto;
    display: flex;
    flex-direction: column;
}

nav {
    background-color: grey;
    /* height: 10vh; */

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: .5em .5em;
    text-justify: auto;
    position: sticky;
    top: 0;
}

nav a {
    padding: 10px 15px;
    display: block;
    font-size: 1.5em;
    color: black;
    text-align: center;
    margin: auto 0;
}

@media (min-width: 800px) {

    nav {
        display: flex;
    }

    nav {
        /* flex-direction: column; */
        /* align-items: center; */
        justify-content: space-between;
    }

}

@media (min-width: 1000px) {
    nav {
        flex-direction: row;
        justify-content: space-between;
    }
}

input {
    margin: 0.5vh;
    padding-top: 0.3vh;
    padding-bottom: 0.3vh;
    font-size: 1em;
}

nav a:hover {
    background-color: dimgrey;
}

#mytextarea {
    overflow: auto;
    resize: none;
}

.hidden {
    color: transparent;
    width: auto;
    max-width: 150px;
    margin: 0;
    margin-bottom: 2vh;
    height: 100%;
}

label {
    display: inline-block;
    width: 50px;
    text-align: right;
    margin-top: auto auto;
}

div.settings {
    display: grid;
    grid-template-columns: max-content max-content;
    grid-gap: 10px;
    padding-top: 1vh;
}

div.settings label {
    text-align: right;
}