* {
    box-sizing: border-box;
    font-family: monospace;
    border-radius: 5px;
}

body {
    line-height: 1.6;
    margin: 0;
}

a {
    text-decoration: none;
}

#profile-picture {
    height: 100%;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.header {
    padding-top: .5em;
    padding-bottom: .5em;
    border: 1px solid #646174;
    background-color: #a2ccea;
    box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
    position: sticky;
    top: 0;
    border-radius: 5px;
}

.nav {
    margin-top: 5px;
}

.nav a {
    padding: 10px 15px;
    text-transform: uppercase;
    text-align: center;
    display: block;
    color: #34495e;
    font-size: .99em;
}

.nav a:hover {
    background-color: #7ebeb6;
    color: #092747;
}

section {
    position: center;
    background-color: lightgrey;
    text-align: center;
    width: fit-content;
    padding: .6vh 3vw;
    margin: 5vh auto auto;
    display: flex;
    flex-direction: column;
}


nav a {
    display: block;
    font-size: 1.5em;
    vertical-align: middle;
    color: black;
}

@media (min-width: 800px) {

    .header,
    .nav {
        display: flex;
    }

    .header {
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

}

@media (min-width: 1000px) {
    .header {
        flex-direction: row;
        justify-content: space-between;
    }
}

nav {
    background-color: grey;
    height: 10vh;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 15px;
    text-justify: auto;
}


input {
    margin: 0.5vh;
    padding-top: 0.3vh;
    padding-bottom: 0.3vh;
}

nav a:hover {
    background-color: dimgrey;
}

#mytextarea {
    overflow: auto;
    resize: none;
}

label {
    text-align: left;
}