* {
    box-sizing: border-box;
    font-family: monospace;
    border-radius: 5px;
}

body {
    line-height: 1.6;
    margin: 0;
}

a {
    text-decoration: none;
}

#profile-picture {
    height: 100%;
}

.cardProfilePicture {
    height: 100%;
}

.imgContainer {
    display: flex;
    align-self: center;
    width: fit-content;
    height: auto;
}
.imgContainer + img {
    width: 100%;
    height: auto;
}

.cardLocationText {
    margin-top: 0;
    margin-bottom: 0;
}

.thumbsUp {
    width: 60px;
    height: auto;
}

#homeNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: grey;
    height: 10vh;

    flex-direction: row;
    padding: 10px 15px;
    text-justify: auto;
}

#homeNavLinks {
    display: flex;
    font-size: 1.5em;
}

#homeNavLinks a {
    margin: 40px;
    display: block;
    vertical-align: middle;
    color: black;
}

nav a:hover {
    background-color: dimgrey;
}

section {
    position: center;
    background-color: lightgrey;
    text-align: center;
    width: fit-content;
    padding: .6vh 3vw;
    margin: 5vh auto auto;
    display: flex;
    flex-direction: column;
}

.mainContainer{
    height: 90vh;
    display: flex;
    flex-flow: column;
    margin-top: 1em;
}

.mainDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-grow: 2;
}

.mainBody {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-left: 4em;
    margin-right: 4em;
}

.cardHeader {
    display: flex;
    justify-content: space-between;
    height: 70px;
    margin-bottom: .5em;
}
.cardHeader > p {
    align-self: center;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 720px;
    width: 700px;
    padding: 1em;
    font-size: 2em;
    background-color: lightgrey;
}

.upperBodyCard {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 720px;
    width: 700px;
    padding: 1em;
    font-size: 2em;
    background-color: lightgrey;
}

.lowerBodyCard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 300px;
    width: 700px;
    padding: 1em;
    font-size: 2em;
    background-color: lightgrey;
    margin-top: .5em;
}

/*.textCard {
    display: flex;
    flex-grow: 1;
}*/

.leftSide {
    display: flex;
    flex-grow: 1;
    background-color: lightgrey;
}

.rightSide {
    display: flex;
    flex-grow: 1;
    background-color: lightgrey;
}

.footerDiv {
    background-color: lightgrey;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 10%;
    bottom: 0;
    margin-top: .5em;
    font-size: 2em;
    font-weight: bold;
}

footer {
    width: 100%;
    background-color: lightgrey;
    position: absolute;
    bottom: 0;

}

label ~ input {
    margin: 0.5vh;
    padding-top: 0.3vh;
    padding-bottom: 0.3vh;
}

#post-body {
    height: 100px;
}